.classic-theme .buyAsGift a.main {background: url("") 0 0 no-repeat; padding: 2px 0 2px 20px;}
.classic-theme #wlt-DealView .buyAsGift {background-color: #d0ebf2; border: 1px solid #8cb7c7; border-top-width: 0;padding: .5em;	text-align: center;}
.classic-theme #wlt-DealView .buyAsGift a.main {background-image: url(""); font-size: 120%; font-weight: bold;padding: 4px 0 4px 30px !important;}
.classic-theme #wlt-GiftSidebox .worklet-content a {text-align: center; background: url("") center bottom no-repeat; padding-bottom: 70px;display: block;margin: 0;}
.classic-theme .giftCard {background: url("") 0 0 no-repeat;}

#wlt-GiftCard .cardForm label {float: none; text-align: left; width: auto;}
#wlt-GiftCard .cardForm textarea, #wlt-GiftCard .cardForm input[type="text"] {width:250px;}
#wlt-GiftCard .cardForm textarea {padding: 0; height: 130px}
#wlt-GiftCard .cardForm input[type=text].short{width: 50px;}
#wlt-GiftPrint {margin: 2em auto; width: 518px; font-size: 9pt; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

.giftCard {background:#E5ECF9; width: 518px; height: 419px;}
.giftCard .content {width: 518px; height: 419px;}
form .giftCard img {max-width: none; margin: 0;}
.giftCard .cardTitle, .giftCard .logo {padding: 1em; line-height: 1; color: #000; font-weight: normal; font-size: 200%; margin: 0; border: 0;}
.giftCard .cardTitle {text-align: right;}

.giftCard .cardInfo {width: 180px; height: 260px; padding: 65px 10px 76px 44px; text-align: center; overflow: hidden;}
.giftCard .amount {font-size: 300%; margin: 0; padding: 0; font-weight: bold;}
.giftCard .fromSpot {font-weight: bold}
.giftCard .cardCode {background:#FFF6BF;color:#514721;border: 1px dashed #FFD324; margin: 2em; padding: .5em}
.giftCard .codeSpot {color: #666; font-weight: bold; margin: 0;}
.giftCard .to {font-size: 140%; font-weight: bold;}
.giftCard .cardMessage {width: 200px; height: 260px; padding: 65px 54px 0 30px; overflow: hidden;}
.giftCard .messageSpot {margin-top: 1em}


.giftCard table {border-collapse: collapse; width: 100%; padding: 0; margin: 0;}
.giftCard table td {vertical-align: top; text-align: left;}

.classic-theme .giftCard .cardTitle {color: #fff; padding: 5px 34px 0 0; line-height: 50px;}
.classic-theme .giftCard .amount {color: #6F7F37;}
.classic-theme .giftCard .logo {padding: 8px 0 0 34px;}

#wlt-GiftRedeem .redeemInfo {font-size: 120%}
#wlt-GiftRedeem form {display: none; margin-top: 1em;}
#wlt-GiftRedeem form label {float: none; width: auto; text-align: left;}
#wlt-GiftRedeem form .buttons {margin: 0; padding: 0;}

#wlt-GiftSidebox a {font-size: 150%;margin: 0 0 1em 0;}